.Algo {
    background: lightgreen;
    width: 1100px;
    margin: 2rem auto;
    display: flex;
  }
  .Algo__details {
    padding: 10rem;
    padding-left: 300px;
     justify-content: space-between;
    color: black;
  }
  .details__title {
    font-size: 2.2rem;
    font-weight: bold;
    
  }
  
  .details__description {
    font-size: 1rem;
    
  }
  .details__addBtn {
    width: 25%;
    padding: 1px 7px;
    background: white;
    color: lightgreen;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  
  .details__addBtn:hover {
    opacity: 0.75;
  }
  .details__btn {
    width: 25%;
    padding: 1px 7px;
    background: white;
    color: lightgreen;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
   
    
  }
  
  .details__Btn:hover {
    opacity: 0.75;
  }