.botsdetails {
    width: 850px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
    border-radius: 1px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
    
  }
  .botsdetailsDetails {
    padding: 1.0rem;
    display: flex;
    flex-direction: column;
  }
  
  .details__title {
    font-size: 1.7rem;
    font-weight: bold;
    color: black;
  }
  .details__cagr {
    font-size: 1.0rem;
   margin-top: 20px;
    color: black;
     }
  .details__index {
    font-size: 1.0rem;
   margin-top: 20px;
    color: black;
    
  }
  .botsdetails__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
  }
  
  .buttons__btn {
    cursor: pointer;
  border: 2px solid #3498db;
  background-color: transparent;
  height: 30px;
  width: 150px;
  color: #3498db;
  font-size: 1.5em;

  }
  
  .buttons__btn:hover {
    opacity: 0.7;
  }
  
  .buttons__view {
    background-color: white;
    color: #3498db;
  }
  
  .buttons__add {
     cursor: pointer;
  border: 2px solid #3498db;
  background-color: transparent;
  height: 30px;
  width: 150px;
  color: #3498db;
  font-size: 1.5em;

  }