.navbar {
   background-color: #333;
  display: flex;
  justify-content: space-between;

  }
  
  .navbar__logo {
  align-self: center;
  margin-top: 20px;
  color: lightgray !important;
  padding-left: 20px;

  }
  
  .navbar__cart {
    width: 280px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    cursor: pointer;
  }
  
  .navbar__cart:hover {
    opacity: 0.75;
  }
  
  .cart__title {
    align-self: center;
  margin-top: 20px;
  color: lightgray !important;
  padding-right: 60%;

  }
  .cart__counter {
    height: 50px;
    width: 100px;
    color: lightgray !important;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }